.UpsellBanner {
	align-items: center;
	backdrop-filter: blur(4px);
	background: #ffffffbf;
	border-radius: var(--8x);
	box-shadow: 0 var(--1x) var(--3x) rgba(0, 0, 0, 0.1);
	bottom: var(--3x);
	cursor: pointer;
	display: grid;
	grid-template-columns: 1fr max-content;
	height: var(--6x);
	left: var(--3x);
	padding: var(--1x) var(--1x) var(--1x) var(--3x);
	position: absolute;
	right: var(--3x);
	transition: var(--transition);
	z-index: 50;

	p {
		color: var(--color-black);
		font-size: var(--font-size-large);
		font-weight: var(--font-weight-semi-bold);
		margin: 0;
	}

	&:hover {
		background: #ffffff;
	}
}
