.DashiconsField {
	align-items: center;
	aspect-ratio: 1 / 1;
	background: var(--color-white);
	border: 2px solid var(--color-black);
	border-radius: 7px;
	box-shadow: var(--box-shadow-low);
	box-sizing: border-box;
	display: grid;
	height: 64px;
	justify-items: center;
	padding: var(--1x);
	position: relative;
	width: 64px;

	span {
		font-size: 36px;
		height: 36px;
		width: 36px;
	}
}

