.Tooltip {
	background: var(--color-lighter-gray);
	border-radius: var(--1x);
	color: var(--color-dark-gray);
	cursor: pointer;
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-bold);
	height: var(--2x);
	line-height: var(--2x);
	position: relative;
	text-align: center;
	transition: var(--transition);
	width: var(--2x);
}

.Tooltip:hover {
	background: var(--color-accent-teal-blue);
	color: var(--color-white);
}

.is-disabled .Tooltip:hover {
	background: var(--color-lighter-gray);
	color: var(--color-dark-gray);
	cursor: default;
}
