.CssEditor {
	box-sizing: border-box;
	height: 100%;
	border-radius: 9px;
	overflow: hidden;
	padding: var(--5x) 0 var(--5x) var(--5x);

	& > div,
	.cm-editor {
		height: 100%;
		width: 100%;
	}

	.cm-editor {
		border: 1px solid var(--color-gray);
		border-radius: 9px;
		font-family: var(--font-family-monospace);
		font-size: var(--font-size-small);
		font-weight: var(--font-weight-base);
		line-height: 1.75;
		overflow: hidden;
	}

	.cm-editor.cm-focused {
		outline: none;
	}
}
