.BlueprintSidebar {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	overflow: hidden;
	position: relative;
	z-index: 2;

	& > div {
		box-sizing: border-box;
		grid-column: 1;
		grid-row: 1;
		height: 100%;
		overflow: auto;
		padding: var(--5x) var(--5x) var(--5x) var(--3x);
		width: 100%;
	}
}

.BlueprintSidebar.is-dragging,
.BlueprintSidebar.is-dragging > div {
	overflow: visible;
}

.BlueprintSidebar-heading {
	color: var(--color-black);
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-bold);
	margin: var(--5x) 0 var(--1x);

	&:first-child {
		margin-top: 0;
	}
}

.BlueprintSidebar-grid {
	display: grid;
	gap: var(--2x);
	grid-template-columns: repeat(var(--columns, 1), minmax(0, 1fr));
	position: relative;
}
