.BlockVersionField {
	align-items: center;
	display: grid;
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-semi-bold);
	gap: var(--1x);
	grid-template-columns: repeat(2, max-content);

	.EditableString {
		--focus-color: transparent;
		--focus-margin: 0;
		--focus-padding: 0;
		--highlight-padding-y: 0.2em;
		--highlight-padding-x: 0.3em;
		--line-height: 1em;
	}
}

.BlockVersionField-label {
	color: var(--color-dark-gray);
}

.BlockVersionField-value {
	--color: var(--color-black);
}
