.TutorialTooltip {
	--caret-color: var(--color-accent-teal-blue);
	background: var(--gradient-teal-blue-soft);
	border-radius: 5px;
	box-shadow: var(--box-shadow-medium);
	color: var(--color-white);
	display: grid;
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-medium);
	gap: var(--2x);
	justify-items: start;
	line-height: var(--line-height-base);
	opacity: 0;
	padding: var(--2x) var(--2x) var(--2x) var(--3x);
	position: absolute;
	text-align: left;
	top: var(--top, 0);
	transform: scale(0.8);
	transform-origin: center;
	transition:
		opacity 0.15s var(--transition-timing-function),
		transform 0.15s var(--transition-timing-function);
	user-select: none;
	width: var(--width);
	z-index: 100;

	&::before {
		border: solid transparent;
		border-width: 0 var(--1x) 0 var(--1x);
		content: "";
		display: block;
		height: 0;
		position: absolute;
		top: 12px;
		width: 0;
	}
}

.TutorialTooltip.is-visible {
	opacity: 1;
	transform: scale(1);
}

.TutorialTooltip-link {
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
}

.TutorialTooltip-label {
	color: var(--color-white);
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-semi-bold);
}

.TutorialTooltip-text p {
	box-sizing: border-box;
	margin: 0 !important;
	width: 100%;
}

.TutorialTooltip-actions {
	align-items: center;
	display: grid;
	gap: var(--1x);
	grid-template-columns: 1fr max-content;
	width: 100%;

	p {
		font-size: var(--font-size-small);
		margin: 0;
	}
}

.TutorialTooltip-skip {
	cursor: pointer;
	width: fit-content;

	&:hover {
		text-decoration: underline;
	}
}

.TutorialTooltip.position-right {
	left: calc(var(--left, 0) + var(--2x) - 2px);

	&::before {
		border-width: var(--1x) var(--1x) var(--1x) 0;
		border-right-color: var(--caret-color);
		left: calc(-1 * var(--1x));
	}
}

.TutorialTooltip.position-left {
	--caret-color: #0385de;
	right: calc(var(--right, 0) + var(--2x) - 2px);

	&::before {
		border-width: var(--1x) 0 var(--1x) var(--1x);
		border-left-color: var(--caret-color);
		right: calc(-1 * var(--1x));
	}
}
