.JsonEditor {
	background: var(--color-black);
	border-radius: 9px;
	box-sizing: border-box;
	color: var(--color-white);
	font-family: var(--font-family-monospace);
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-base);
	height: calc(var(--app-height) - var(--10x));
	line-height: 1.75;
	overflow: auto;
	padding: var(--5x);
	white-space: pre;

	& span {
		align-items: center;
		border-radius: 5px;
		display: inline-grid;
		gap: 4px;
		grid-auto-flow: column;
		min-height: calc(var(--font-size-base) * 1.75);
		transition: var(--transition);
		vertical-align: middle;
	}

	& .has-focus,
	& .has-placeholder {
		background: var(--color-darker-gray);
		border-radius: 5px;
		padding: 0 var(--1x);
	}

	.indent {
		margin-left: 2em;
	}

	.EditableString {
		--color: var(--color-white);
		--focus-color: var(--color-white);
		--hover-color: var(--color-white);
		--placeholder-color: var(--color-gray);
		--placeholder-focus-color: var(--color-gray);
	}
}
