.SelectField {
	background: var(--color-white);
	border: 2px solid var(--color-black);
	border-radius: 7px;
	box-shadow: var(--box-shadow-low);
	display: grid;
	gap: var(--1x);
	grid-auto-flow: row;
	grid-template-columns: 100%;
	max-width: 640px;
	padding: var(--1x);
	position: relative;
}

.SelectField-value {
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-semi-bold);
}

.SelectField-options {
	display: none;
	left: 0;
	position: absolute;
	top: 100%;
	width: 100%;
}

.SelectField.is-open .SelectField-options {
	display: block;
}
