.FieldLabel {
	align-items: center;
	color: var(--color-dark-gray);
	cursor: default;
	display: grid;
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-medium);
	gap: var(--1x);
	grid-template-columns: 1fr max-content;
	line-height: 1;

	.Tooltip {
		margin: -1px 0;
	}
}
