.ProFlag {
	background: var(--gradient-teal-blue);
	border-radius: var(--3x);
	color: var(--color-white);
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-bold);
	height: var(--3x);
	line-height: var(--3x);
	padding: 0 12px;
	text-transform: uppercase;
	width: fit-content;
}
