.ListField {
	background: var(--color-white);
	border: 2px solid var(--color-black);
	border-radius: 7px;
	box-shadow: var(--box-shadow-low);
	display: grid;
	gap: var(--1x);
	grid-auto-flow: row;
	grid-template-columns: 100%;
	max-width: 640px;
	padding: var(--1x);
}

.ListField-list {
	align-items: center;
	display: flex;
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-base);
	gap: var(--1x);
	width: 100%;

	.EditableString {
		--focus-margin: 0;
		--focus-padding: 0;
		--line-height: var(--3x);
		border-radius: var(--3x);
	}

	.EditableString.has-value {
		--focus-padding: var(--1x);
		--padding: var(--1x);
		background: var(--color-lighter-gray);
		font-weight: var(--font-weight-bold);
	}
}
