.ListField {
	margin-bottom: var(--3x);
	max-width: 520px;

	&:last-child {
		margin-bottom: 0;
	}
}

.ListField-input {
	align-items: center;
	border: 1px solid var(--color-gray);
	border-radius: 5px;
	box-sizing: border-box;
	display: grid;
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-base);
	grid-auto-columns: max-content;
	grid-auto-flow: column;
	grid-gap: var(--1x);
	height: var(--6x);
	padding: 0 var(--2x);
	width: 100%;

	.EditableString {
		border-radius: 2em;
		height: var(--3x);
		line-height: var(--3x);
		margin: 0;
		padding: 0;
	}

	.EditableString.has-focus {
		margin: 0;
		padding: 0;
	}

	.EditableString.has-value {
		background: var(--color-light-gray);
		font-weight: var(--font-weight-bold);
		padding: 0 var(--1x);
	}
}
