.PageViewCss {
	box-sizing: border-box;
	display: grid;
	height: max(680px, calc(100vh - 65px - var(--wp-admin--admin-bar--height)));
	padding: var(--5x);
}

.PageViewCss-view {
	--sidebar-width: 340px;
	align-items: stretch;
	background: var(--color-lighter-gray);
	border-radius: 9px;
	display: grid;
	grid-template-columns: calc(100% - var(--sidebar-width)) var(--sidebar-width);
	grid-template-rows: 100%;
	overflow: hidden;
	user-select: none;
}
