.PageBlockJson {
	padding: var(--5x);
}

.PageBlockJson-grid {
	display: grid;
	grid-gap: var(--5x);
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100%;
	height: 100%;
}

.PageBlockJson-fields {
	align-self: start;
	display: grid;
	gap: var(--8x);
	grid-auto-flow: row;
	height: 100%;
	overflow: scroll;
}

.PageBlockJson-fieldset {
	display: grid;
	gap: var(--2x);
	grid-auto-flow: row;
}

.PageBlockJson-header {
	align-items: center;
	color: var(--color-black);
	display: grid;
	gap: var(--2x);
	grid-auto-columns: max-content;
	grid-auto-flow: column;
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-medium);
}

.PageBlockJson-json {
	display: grid;
	height: 100%;
}
