.EditableString {
	--color: var(--color-darkest-gray);
	--focus-color: var(--color-light-gray);
	--focus-margin: 0.2em;
	--focus-padding: 0.4em;
	--hover-color: var(--color-black);
	--placeholder-color: var(--color-dark-gray);
	--placeholder-focus-color: var(--color-darker-gray);
	color: var(--color);
	cursor: text;
	display: inline-grid;
	position: relative;
	transition: var(--transition);

	&::before {
		border-radius: 0.2em;
		bottom: 0;
		content: '';
		display: block;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		transition: var(--transition);
		z-index: -1;
	}

	&.has-value:hover,
	&.has-value.has-focus {
		color: var(--hover-color);
	}

	& > div {
		grid-column: 1;
		grid-row: 1;
	}

	& .placeholder {
		color: var(--placeholder-color);
		transition: var(--transition);
	}
}

.EditableString.has-focus {
	margin: 0 var(--focus-margin);
	padding: 0 var(--focus-padding);

	&::before {
		background: var(--focus-color);
		bottom: calc(-1 * var(--focus-margin));
		top: calc(-1 * var(--focus-margin));
	}
}

.EditableString.has-focus .placeholder {
	color: var(--placeholder-focus-color);
}
