.BlueprintEditor {
	--column-1-width: 20;
	--column-2-width: calc(32 + var(--column-2-depth, 0));
	--grid-gap: 8;
	--grid-padding: 4;
	background: var(--color-darkest-gray);
	border-radius: 9px;
	height: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.BlueprintEditor-scroll {
	height: 100%;
	overflow: auto;
	width: 100%;
}

.BlueprintEditor.has-upsell .BlueprintEditor-scroll::after {
	content: "";
	display: block;
	height: var(--11x);
}

.BlueprintEditor-grid {
	background: var(--color-black);
	display: flex;
	flex-shrink: 0;
	height: 100%;
	left: 0;
	mask-image: url("../assets/images/grid-lines.png");
	mask-repeat: repeat;
	mask-position: -1px -1px;
	mask-size: 16px;
	opacity: 0.25;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.BlueprintEditor-wrap {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	min-height: 100%;
	position: relative;
	width: calc(
		16px *
			(
				var(--column-1-width) + var(--column-2-width) + var(--grid-gap) +
					(var(--grid-padding) * 2)
			) - 1px
	);
}

.BlueprintEditor-columns {
	align-items: center;
	box-sizing: border-box;
	display: grid;
	flex-shrink: 0;
	gap: calc(16px * var(--grid-gap));
	grid-template-columns: calc(var(--column-1-width) * 16px) calc(
			var(--column-2-width) * 16px
		);
	min-height: 100%;
	min-width: 100%;
	padding: calc(16px * var(--grid-padding));
	padding-right: calc(16px * var(--grid-padding) - 1px);
}

.BlueprintEditor-column {
	display: grid;
	gap: var(--4x);
	position: relative;
	z-index: 20;
}

.BlueprintEditor-label {
	color: var(--color-gray);
	display: block;
	font-family: var(--font-family);
	font-size: 16px;
	font-weight: var(--font-weight-medium);
	line-height: 16px;
}
