.SearchSelectField {
	margin-bottom: var(--3x);
	max-width: 520px;
	position: relative;

	&:last-child {
		margin-bottom: 0;
	}
}

.SearchSelectField-value {
	border: 1px solid var(--color-gray);
	border-radius: 5px;
	box-sizing: border-box;
	display: block;
	font-size: var(--font-size);
	font-weight: var(--font-weight-base);
	height: var(--6x);
	line-height: calc(var(--6x) - 2px);
	padding: 0 var(--2x);
	width: 100%;
}

.SearchSelectField-options {
	display: none;
	left: 0;
	position: absolute;
	top: 100%;
	width: 100%;
}

.SearchSelectField.is-open .SearchSelectField-options {
	display: block;
}
