.PageEditorCss {
	display: grid;
	height: var(--app-height);
}

.PageEditorCss-view {
	align-items: stretch;
	display: grid;
	grid-template-columns: calc(100% - var(--sidebar-width)) var(
			--sidebar-width
		);
	grid-template-rows: 100%;
	user-select: none;
}
