.App {
	--app-height: max(
		680px,
		calc(
			100vh - var(--nav-height, 0px) - var(--app-nav-height, 0px) -
				var(--wp-admin--admin-bar--height, 0px)
		)
	);
	--app-nav-height: calc(var(--8x) + 3px);
	--sidebar-width: 380px;

	background: #f0f0f1;
	color: var(--color-black);
	display: grid;
	grid-template-rows: var(--app-nav-height) max-content;
	font-family: var(--font-family);
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-base);
	line-height: var(--line-height-base);
	margin-left: -20px;
	position: relative;
	width: calc(100% + 20px);
	z-index: 10;

	:where(p) {
		font-size: inherit;
		line-height: inherit;
	}

	.is-disabled {
		cursor: default;
		user-select: none;
	}
}

.App:not(.is-tutorial) .is-disabled {
	opacity: 0.5;
}
