.BlueprintAttributeList {
	align-items: start;
	display: grid;
	gap: var(--4x);
	justify-items: start;
}

.BlueprintAttributeList-list {
	border-top: 2px solid var(--color-darker-gray);
	width: 100%;
}
